<div class="headhead">
  <div class="pgbar">
    <div class="bar-in"></div>
  </div>
  <script id="header-js"></script>
  <script type="text/javascript">
    let headerJs = document.getElementById('header-js');
    if (screen.width < 768) {
      headerJs.setAttribute('src', '');
    } else {
      headerJs.setAttribute('src', '/js/layouts.js');
    }
  </script>
  <div class="header-wrap" id="he" style="height: 63px;">
    <div class="blur-bg"></div>
    <div class="head">
      <button onclick="clk()">
        <!-- <i class="fa fa-bars" id="show" aria-hidden="true"></i>
        <i class="fa fa-times" id="close" aria-hidden="true"></i> -->
        <span id="show"><i></i></span>
        <span id="close"></span>
      </button>
      <h1 style="display: inline-block;">
        <a class="header-img" href="<%- theme.sitedomain %>" target="_self" title="LERNB">
          <%- theme.sitename %>
        </a>
      </h1>
      <ul id="header-btn">
        <li>
          <% if (is_home()){ %>
          <a href="/" class="hoverLine hoverLineActive">首页</a>
          <% } else { %>
          <a href="/" class="hoverLine">首页</a>
          <% } %>
        </li>
        <li>
          <% if (page.type == 'tags' || is_tag()){ %>
          <a href="/tags" class="hoverLine hoverLineActive">标签</a>
          <% } else { %>
          <a href="/tags" class="hoverLine">标签</a>
          <% } %>
        </li>
        <li>
          <% if (page.type == 'categories' || is_category()){ %>
          <a href="/categories" class="hoverLine hoverLineActive">分类</a>
          <% } else { %>
          <a href="/categories" class="hoverLine">分类</a>
          <% } %>
        </li>
      </ul>
    </div>
    <div id="hcata">
      <ul class="headerMenu">
        <li class="post-item"
          style="padding-left: 25px; background: url('/asset/home.png') no-repeat 0 4px; background-size: 18px 18px;"><a
            href="/">首页</a></li>
        <li class="post-item"
          style="padding-left: 25px; background: url('/asset/tag.png') no-repeat 0 4px; background-size: 18px 18px;"><a
            href="/tags">标签</a></li>
        <li class="post-item"
          style="padding-left: 25px; background: url('/asset/cate.png') no-repeat 0 4px; background-size: 18px 18px;"><a
            href="/categories">分类</a></li>
      </ul>
      <% if (theme.headerRecent){ %>
      <div class="bar">
        <h3>近期文章</h3>
        <div class="bar-item">
          <ul>
            <% site.posts.sort('date', -1).limit(8).each(function(post){ %>
            <!-- <span class="post-date"><%= date(post.date, "YYYY-MM-DD") %></span> -->
            <li class="post-item"><a href="<%- url_for(post.path) %>"><%- post.title %></a></li>
            <% }); %>
          </ul>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>